<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:macro name="camera_effector" >
    <gazebo reference="pi_camera_frame" >
      <sensor name="pi_camera" type="camera" >
        <camera>
          <horizontal_fov>0.93375114982</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.15</near>
            <far>2.0</far>
          </clip>
        </camera>

        <plugin name="camera2ros" filename="libgazebo_ros_camera.so" >
          <frameName>pi_camera_optical_frame</frameName>
          <cameraName>pi_camera</cameraName>
          <imageTopicName>image</imageTopicName>
        </plugin>

        <always_on>1</always_on>
        <update_rate>5</update_rate>
        <visualize>false</visualize>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot>
