<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:macro name="laser_sensor" params="range update_rate" >
    <gazebo reference="laser_link" >
      <sensor name="laser" type="ray" >
        <always_on>true</always_on>
        <update_rate>${update_rate}</update_rate>
        <visualize>true</visualize>
        <ray>
          <scan>
            <horizontal>
              <samples>683</samples>
              <resolution>1</resolution>
              <min_angle>-2.00712864</min_angle>
              <max_angle>2.00712864</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.08</min>
            <max>${range}</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.001</stddev>
          </noise>
        </ray>

        <plugin name="laser2Ros" filename="libgazebo_ros_laser.so" >
          <frameName>/laser_link</frameName>
          <topicName>/laser/scan</topicName>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="laser_sensor_gpu" params="range update_rate" >
    <gazebo reference="laser_link" >
      <sensor name="laser" type="gpu_ray" >
        <always_on>true</always_on>
        <update_rate>${update_rate}</update_rate>
        <visualize>false</visualize>
        <ray>
          <scan>
            <horizontal>
              <samples>683</samples>
              <resolution>1</resolution>
              <min_angle>-2.00712864</min_angle>
              <max_angle>2.00712864</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.08</min>
            <max>${range}</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.001</stddev>
          </noise>
        </ray>

        <plugin name="laser2Ros" filename="libgazebo_ros_gpu_laser.so" >
          <frameName>/laser_link</frameName>
          <topicName>/laser/scan</topicName>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
