<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ###################################################################### -->

  <xacro:macro name="robot_physics" >

    <gazebo reference="" >

      <!-- ================================================================ -->
      <static>${static_robot}</static>
      <!-- ================================================================ -->

    </gazebo>

  </xacro:macro>

<!-- ###################################################################### -->

</robot>
