<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ###################################################################### -->

  <xacro:macro name="wheel_joint_physics"
               params="prefix_y prefix_x" >

    <gazebo reference="${prefix_y}_${prefix_x}_wheel_joint" >

      <!-- ================================================================ -->
      <!-- <kp>0.0</kp> -->
      <!-- <kd>0.0</kd> -->
      <!-- ================================================================ -->
      <!-- <stopCfm>0.0</stopCfm> -->
      <!-- <stopErp>0.0</stopErp> -->
      <!-- ================================================================ -->
      <!-- <provideFeedback>false</provideFeedback> -->
      <!-- ================================================================ -->
      <!-- <cfmDamping>false</cfmDamping> -->
      <!-- <implicitSpringDamper>false</implicitSpringDamper> -->
      <!-- ================================================================ -->
      <!-- <fudgeFactor>0.0</fudgeFactor> -->
      <!-- ================================================================ -->

    </gazebo>

  </xacro:macro>

<!-- ###################################################################### -->

</robot>
