<launch>
 
  <arg name="gui" default="true"/>
  <arg name="robot" default="woody"/>
  
  <arg name="simplified" default="true"/>
  
  <arg name="control" default="false"/>
  <arg name="interface" default="false"/>
  <arg name="sensors_viz" default="false" />
  <arg name="tune" default="false" />
  
  <include file="$(find pandora_gazebo_worlds)/launch/start.launch">
    <arg name="world" value="simple_with_ramps"/>
    <arg name="robot" value="$(arg robot)"/>
    <arg name="gui" value="$(arg gui)"/> 
    <arg name="z" value="0.5"/> 
    <arg name="simplified" value="$(arg simplified)"/>
    <arg name="control" value="$(arg control)"/>
    <arg name="interface" value="$(arg interface)" />
    <arg name="sensors_viz" value="$(arg sensors_viz)" />
    <arg name="tune" value="$(arg tune)" />
  </include>
  
</launch>
