<launch>

  <arg name="gui" default="true"/>
  <arg name="world" default="empty"/>
  <arg name="robot" default="woody"/>
  
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0.175"/>
  <arg name="Y" default="0"/>
  
  <arg name="tune" default="false" />

  <!-- Load robot_description -->
  <include file="$(find pandora_gazebo_description)/$(arg robot)/launch/$(arg robot)_gazebo_description.launch" >
    <arg name="tune" value="$(arg tune)" />
  </include>
  
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg Y) -model $(arg robot)_robot -param robot_description" />
  
  <!-- Load gazebo client -->
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient"
          respawn="false" output="screen"/>
  </group>
    
  <!-- Load gazebo server -->
  <param name="/use_sim_time" value="true" />
  
  <node name="gazebo" pkg="gazebo_ros" type="gzserver"
        args="$(find pandora_gazebo_worlds)/worlds/$(arg world)/$(arg world).world"
        respawn="false" output="screen">
    <!--<remap unless="false" from="gazebo_sensors" to="sensors"/>-->
  </node>

</launch>

