<launch>

  <arg name="gui" default="true"/>
  <arg name="robot" default="gio"/>

  <arg name="tune" default="false" />

  <include file="$(find pandora_gazebo_worlds)/launch/start.launch">
    <arg name="world" value="testcase"/>
    <arg name="robot" value="$(arg robot)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="z" value="0.5"/>
    <arg name="tune" value="$(arg tune)" />
  </include>

</launch>
