<launch>

  <arg name="robot" default="gears" />

  <!-- Load joint controller configurations from YAML files to parameter server -->
  
  <!-- Joint State -->
  <rosparam command="load" ns="/"
            file="$(find pandora_gazebo_controllers)/config/effort_controllers/pandora_joint_state_controller.yaml" />
  
  <!-- Hokuyo Laser -->
  <rosparam command="load" ns="/"
            file="$(find pandora_gazebo_controllers)/config/effort_controllers/pandora_laser_controllers.yaml" />
  
  <!-- Kinect -->
  <rosparam command="load" ns="/"
            file="$(find pandora_gazebo_controllers)/config/effort_controllers/pandora_kinect_controllers.yaml" />
  
  <!-- Linear Elevator -->
  <rosparam command="load" ns="/"
            file="$(find pandora_gazebo_controllers)/config/effort_controllers/pandora_linear_elevator_controller.yaml" />
  
  <!-- Linear Head -->
  <rosparam command="load" ns="/"
            file="$(find pandora_gazebo_controllers)/config/effort_controllers/pandora_linear_head_controllers.yaml" />
  
  <!-- Robot Wheels -->
  <rosparam command="load" ns="/"
            file="$(find pandora_gazebo_controllers)/config/effort_controllers/pandora_$(arg robot)_wheel_controllers.yaml" />
  
  <!-- Load the controllers -->
  <node name="controller_spawner" 
        pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/" 
        args="joint_state_controller
              laser_roll_controller
              laser_pitch_controller
              kinect_pitch_controller
              kinect_yaw_controller
              linear_elevator_controller
              linear_head_pitch_controller
              linear_head_yaw_controller
              $(arg robot)_left_front_wheel_controller
              $(arg robot)_left_rear_wheel_controller
              $(arg robot)_right_front_wheel_controller
              $(arg robot)_right_rear_wheel_controller" />
              
</launch>
