<launch>

  <arg name="robot" default="gears" />
  <arg name="linear_elevator" default="true" />

  <!-- Load joint controller configurations from YAML files to parameter server -->
  
  <!-- Joint State -->
  <rosparam command="load" ns="control"
            file="$(find pandora_gazebo_controllers)/config/pandora_joint_state_controller.yaml" />
  
  <!-- Hokuyo Laser -->
  <rosparam command="load" ns="control"
            file="$(find pandora_gazebo_controllers)/config/pandora_laser_controllers.yaml" />
  
  <!-- Kinect -->
  <rosparam command="load" ns="control"
            file="$(find pandora_gazebo_controllers)/config/pandora_kinect_controllers.yaml" />
  
  <!-- Linear Elevator -->
  <rosparam command="load" ns="control"
            file="$(find pandora_gazebo_controllers)/config/pandora_linear_elevator_controller.yaml" />
  
  <!-- Robot Wheels -->
  <rosparam command="load" ns="control"
            file="$(find pandora_gazebo_controllers)/config/pandora_$(arg robot)_wheel_controllers.yaml" />
  
  <!-- Load the controllers -->
  
  <group if="$(arg linear_elevator)" >
    <node name="controller_spawner" 
          pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="control" 
          args="joint_state_controller
                laser_roll_controller
                laser_pitch_controller
                kinect_pitch_controller
                kinect_yaw_controller
                linear_elevator_controller
                $(arg robot)_left_front_wheel_controller
                $(arg robot)_left_rear_wheel_controller
                $(arg robot)_right_front_wheel_controller
                $(arg robot)_right_rear_wheel_controller" />
  </group>
  
  <group unless="$(arg linear_elevator)" >
    <node name="controller_spawner" 
          pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="control" 
          args="joint_state_controller
                laser_roll_controller
                laser_pitch_controller
                kinect_pitch_controller
                kinect_yaw_controller
                $(arg robot)_left_front_wheel_controller
                $(arg robot)_left_rear_wheel_controller
                $(arg robot)_right_front_wheel_controller
                $(arg robot)_right_rear_wheel_controller" />
  </group>
              
</launch>
