<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ###################################################################### -->

  <xacro:macro name="wheel_link_physics"
               params="prefix_y prefix_x" >

    <gazebo reference="${prefix_y}_${prefix_x}_wheel_link" >

      <!-- ==================================================================== -->
      <!-- <material>Gazebo/FlatBlack</material> -->
      <!-- ================================================================ -->
      <!-- <gravity>true</gravity> -->
      <!-- ================================================================ -->
      <!-- <dampingFactor>0</dampingFactor> -->
      <!-- ================================================================ -->
      <!-- <maxVel>10</maxVel> -->
      <!-- ================================================================ -->
      <minDepth>${wheel_min_depth}</minDepth>
      <!-- ================================================================ -->
      <mu1>${wheel_mu_1}</mu1>
      <mu2>${wheel_mu_2}</mu2>
      <!-- ================================================================ -->
      <fdir1>1 0 0</fdir1>
      <!-- ================================================================ -->
      <kp>${wheel_k_p}</kp>
      <kd>${wheel_k_d}</kd>
      <!-- ================================================================ -->
      <!-- <selfCollide>false</selfCollide> -->
      <!-- ================================================================ -->
      <maxContacts>${wheel_max_contacts}</maxContacts>
      <!-- ================================================================ -->
      <!-- <laserRetro>0</laserRetro> -->
      <!-- ================================================================ -->

    </gazebo>

  </xacro:macro>

<!-- ###################################################################### -->

</robot>
