<?xml version="1.0"?>

<launch>

<!-- ###################################################################### -->

  <include file="$(find pandora_gazebo_controllers)/launch/woody/pandora_woody_controllers.launch" />
      
<!-- ###################################################################### -->

  <param name="robot_description"
         command="$(find xacro)/xacro.py '$(find pandora_gazebo_description)/urdf/woody/woody_simplified.gazebo.xacro'" />
    
<!-- ###################################################################### -->

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    
<!-- ###################################################################### -->

</launch>
