<?xml version="1.0"?>

<launch>
    
<!-- ###################################################################### -->

  <arg name="control" default="true" />
  <arg name="interface" default="true" />
  
  <arg name="tune" default="false" />
    
<!-- ###################################################################### -->
  
  <group if="$(arg control)" >
    <group if="$(arg interface)" >
      <include file="$(find pandora_gazebo_controllers)/launch/woody/pandora_woody_controllers.launch" />
    </group>
    
    <group unless="$(arg interface)" >
      <include file="$(find pandora_gazebo_controllers)/launch/woody/default_woody_controllers.launch" />
    </group>
  </group>
    
<!-- ###################################################################### -->

  <param name="robot_description"
         command="$(find xacro)/xacro.py '$(find pandora_gazebo_description)/urdf/woody/woody.gazebo.xacro'
                  control:=$(arg control) interface:=$(arg interface) tune:=$(arg tune)"/>
    
<!-- ###################################################################### -->
  
  <group unless="$(arg control)" >

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
      <rosparam command="load" file="$(find pandora_robots_description)/config/woody/joint_states.yaml" />
    </node>
    
  </group>
    
<!-- ###################################################################### -->

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    
<!-- ###################################################################### -->

</launch>
