<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ###################################################################### -->

  <xacro:macro name="microphone_gazebo_sensor" >

    <gazebo reference="microphone_frame" >

      <sensor name="microphone"
              type="camera" >

        <camera>
          <!--============================================================= -->
          <horizontal_fov>1.5</horizontal_fov> <!-- FIXME -->
          <!--============================================================= -->
          <image>
            <width>8</width>
            <height>8</height>
          </image>
          <!--============================================================= -->
          <clip> <!-- FIXME -->
            <near>0.1</near>
            <far>2</far>
          </clip>
          <!--============================================================= -->
        </camera>

        <plugin name="microphone2ros"
                filename="libpandora_gazebo_plugins_pandora_microphone_plugin.so" >

          <robotNamespace>gazebo_sensors</robotNamespace>
          <!--============================================================= -->
          <frameName>microphone_frame</frameName>
          <!--============================================================= -->
          <topicName>sound</topicName>
          <!--============================================================= -->

        </plugin>

        <!--=============================================================== -->
        <always_on>1</always_on>
        <!--=============================================================== -->
        <update_rate>2</update_rate>
        <!--=============================================================== -->
        <visualize>false</visualize>
        <!--=============================================================== -->

      </sensor>

    </gazebo>

  </xacro:macro>

<!-- ###################################################################### -->

</robot>
