<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ###################################################################### -->

  <xacro:macro name="thermal_gazebo_sensor"
               params="prefix_y publish_msg publish_viz" >
  
    <gazebo reference="${prefix_y}_thermal_frame" >
    
      <sensor name="${prefix_y}_thermal"
              type="camera" >

        <camera>
          <!--============================================================= -->
          <horizontal_fov>0.8</horizontal_fov> <!-- FIXME -->
          <!--============================================================= -->
          <image>
            <xacro:if value="${publish_viz}" >
              <width>640</width>
              <height>480</height>
            </xacro:if>
            <xacro:unless value="${publish_viz}" >
              <width>8</width>
              <height>8</height>
            </xacro:unless>
          </image>
          <!--============================================================= -->
          <clip> <!-- FIXME -->
            <near>0.05</near>
            <far>1.5</far>
          </clip>
          <!--============================================================= -->
        </camera>

        <plugin name="thermal2ros"
                filename="libpandora_thermal_plugin.so" >

          <!--============================================================= -->
          <frameName>${prefix_y}_thermal_optical_frame</frameName>
          <!--============================================================= -->
          <topicName>sensors/thermal</topicName>
          <!--============================================================= -->
          <publishMsg>${publish_msg}</publishMsg>
          <!--============================================================= -->
          <publishViz>${publish_viz}</publishViz>
          <!--============================================================= -->

        </plugin>

        <!--=============================================================== -->
        <always_on>1</always_on>
        <!--=============================================================== -->
        <update_rate>4</update_rate>
        <!--=============================================================== -->
        <visualize>false</visualize>
        <!--=============================================================== -->

      </sensor>

    </gazebo>
    
  </xacro:macro>

<!-- ###################################################################### -->

</robot>
