<launch>
	<node pkg="tf" type="static_transform_publisher" name="baseLink2laser" args="0.2 0 0.13 0 0 0 base_link laser 100" />
	
	<!-- Kinect -->
	<node pkg="tf" type="static_transform_publisher" name="baseLink2kinect" args="0.2 0 0.33 -1.57 0 -1.57 base_link kinect 100" />
	<node pkg="tf" type="static_transform_publisher" name="kinect2kinectServo" args="0 0 0 0 -1.57 1.57 kinect kinect_servo 100" />
	
	<!-- Vechicle -->	
	<node pkg="tf" type="static_transform_publisher" name="baseLink2leftFrontWheel" args="0.125 0.2 -0.055 0 0 1.57 base_link left_front_wheel 100" />
	<node pkg="tf" type="static_transform_publisher" name="baseLink2RightFrontWheel" args="0.125 -0.2 -0.055 0 0 1.57 base_link right_front_wheel 100" />
	<node pkg="tf" type="static_transform_publisher" name="baseLink2leftRearWheel" args="-0.125 0.2 -0.055 0 0 1.57 base_link left_rear_wheel 100" />
	<node pkg="tf" type="static_transform_publisher" name="baseLink2RightRearWheel" args="-0.125 -0.2 -0.055 0 0 1.57 base_link right_rear_wheel 100" />
	
	<!-- Sonars -->
	<node pkg="tf" type="static_transform_publisher" name="baseLink2LeftRearSonar" args="-0.2 0.15 0.13 3.14 0 0 base_link left_rear_sonar 100" />
	<node pkg="tf" type="static_transform_publisher" name="baseLink2RightRearSonar" args="-0.2 -0.15 0.13 3.14 0 0 base_link right_rear_sonar 100" />

</launch>
