<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ###################################################################### -->

  <xacro:macro name="gazebo_ros_control_plugin"
               params="namespace hardware_interface" >
               
    <gazebo>

      <plugin name="GazeboRosControl"
              filename="libgazebo_ros_control.so" >

        <!-- ============================================================== -->
        <robotNamespace>${namespace}</robotNamespace>
        <!-- ============================================================== -->
        <robotSimType>${hardware_interface}</robotSimType>
        <!-- ============================================================== -->

      </plugin>

    </gazebo>
    
  </xacro:macro>

<!-- ###################################################################### -->

</robot>
