<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ###################################################################### -->

  <xacro:macro name="linear_elevator_transmission" >
  
    <transmission name="linear_elevator_transmission" >

      <!-- ================================================================ -->
      <type>transmission_interface/SimpleTransmission</type>
      <!-- ================================================================ -->
      <joint name="linear_elevator_joint" />
      <!-- ================================================================ -->
      <actuator name="linear_elevator_motor" >
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
      <!-- ================================================================ -->

    </transmission>
    
  </xacro:macro>
  
<!-- ###################################################################### -->

</robot>
