<?xml version="1.0"?>

<robot name="woody"
       xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- Import Files ######################################################### -->

  <xacro:include filename="$(find pandora_robots_description)/urdf/woody/woody.urdf.xacro" />
  
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/woody/physics/wheel_link_physics.gazebo.xacro" />
  
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/woody/sensors/laser_sensor.gazebo.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/woody/sensors/kinect_sensor.gazebo.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/woody/sensors/camera_sensor.gazebo.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/woody/sensors/sonar_sensor.gazebo.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/woody/sensors/thermal_sensor.gazebo.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/woody/sensors/co2_sensor.gazebo.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/woody/sensors/microphone_sensor.gazebo.xacro" />
  
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/woody/transmissions/wheel_transmission.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/woody/transmissions/laser_sensor_transmission.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/woody/transmissions/kinect_sensor_transmission.xacro" />
  
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/woody/plugins/pandora_differential_plugin.gazebo.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/woody/plugins/pandora_p3d_plugin.gazebo.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/woody/plugins/ros_control_plugin.gazebo.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/woody/plugins/pandora_imu_stabilizer_plugin.gazebo.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/woody/plugins/ros_skid_steer_drive_plugin.gazebo.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/gears/plugins/pandora_wheel_physics_plugin.gazebo.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/gears/plugins/pandora_fdir_plugin.gazebo.xacro" />

<!-- Properties ########################################################### -->

  <!-- XXX: Get from config -->
  <xacro:property name="robot_namespace" value="" />
  
  <xacro:property name="wheel_mu_1" value="0.90" />
  <xacro:property name="wheel_mu_2" value="0.90" />
  <xacro:property name="wheel_k_p" value="10000000.0" />
  <xacro:property name="wheel_k_d" value="1.0" />
  <xacro:property name="wheel_min_depth" value="0.001" />
  <xacro:property name="wheel_max_contacts" value="5" />

<!-- Load URDF ############################################################ -->
    
  <xacro:woody_urdf fixed="false" /> 

<!-- Load Physics ######################################################### -->
  
  <xacro:wheel_link_physics prefix_y="left" prefix_x="front" />
  <xacro:wheel_link_physics prefix_y="left" prefix_x="rear" />
  <xacro:wheel_link_physics prefix_y="right" prefix_x="front" />
  <xacro:wheel_link_physics prefix_y="right" prefix_x="rear" />

<!-- Load Gazebo Sensors ################################################## -->

  <xacro:laser_gazebo_sensor />
  
  <xacro:kinect_gazebo_sensor />
  
<!--  <xacro:camera_gazebo_sensor prefix_y="left" />-->
<!--  <xacro:camera_gazebo_sensor prefix_y="right" />-->
  
  <xacro:sonar_gazebo_sensor name="left" />
  <xacro:sonar_gazebo_sensor name="right" />
                
<!--  <xacro:flir_gazebo_sensor />--> <!-- TODO -->
  
  <xacro:co2_gazebo_sensor />
      
<!-- Load Transmissions ################################################### -->

  <xacro:wheel_transmission prefix_y="left" prefix_x="front" />
  <xacro:wheel_transmission prefix_y="left" prefix_x="rear" />
  <xacro:wheel_transmission prefix_y="right" prefix_x="front" />
  <xacro:wheel_transmission prefix_y="right" prefix_x="rear" />
  
  <xacro:laser_sensor_transmission rotation="roll" />
  <xacro:laser_sensor_transmission rotation="pitch" />
  
  <xacro:kinect_sensor_transmission rotation="yaw" />
  <xacro:kinect_sensor_transmission rotation="pitch" />

<!-- Load Plugins ######################################################### -->

  <xacro:pandora_differential_plugin publish_joint_states="false" />

  <xacro:pandora_p3d_plugin />

  <xacro:gazebo_ros_control_plugin namespace="/"
                                   hardware_interface="pandora_gazebo_interface/WoodyGazeboInterface" /> 
                           
<!--  <xacro:pandora_wheel_physics_plugin/> -->        
<!--  <xacro:pandora_fdir_plugin />-->
                                   
<!-- ###################################################################### -->

</robot>
