<?xml version="1.0"?>

<robot name="gears"
       xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- Import Files ######################################################### -->

  <xacro:include filename="$(find pandora_robots_description)/urdf/gears/gears.urdf.xacro" />
  
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/gears/physics/wheel_link_physics.gazebo.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/gears/physics/linear_elevator_joint_physics.gazebo.xacro" />
  
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/gears/sensors/laser_sensor.gazebo.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/gears/sensors/kinect_sensor.gazebo.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/gears/sensors/camera_sensor.gazebo.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/gears/sensors/sonar_sensor.gazebo.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/gears/sensors/thermal_sensor.gazebo.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/gears/sensors/co2_sensor.gazebo.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/gears/sensors/microphone_sensor.gazebo.xacro" />
  
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/gears/transmissions/wheel_transmission.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/gears/transmissions/linear_elevator_transmission.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/gears/transmissions/linear_head_transmission.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/gears/transmissions/laser_sensor_transmission.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/gears/transmissions/kinect_sensor_transmission.xacro" />
  
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/gears/plugins/pandora_differential_plugin.gazebo.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/gears/plugins/pandora_p3d_plugin.gazebo.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/gears/plugins/ros_control_plugin.gazebo.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/urdf/gears/plugins/pandora_wheel_physics_plugin.gazebo.xacro" />


<!-- Properties ########################################################### -->

  <!-- XXX: Get from config -->
  <xacro:property name="robot_namespace" value="" />
  
  <xacro:property name="wheel_mu_1" value="0.85" />
  <xacro:property name="wheel_mu_2" value="0.85" />
  <xacro:property name="wheel_k_p" value="10000000.0" />
  <xacro:property name="wheel_k_d" value="1.0" />
  <xacro:property name="wheel_min_depth" value="0.0001" />
  <xacro:property name="wheel_max_contacts" value="10" />

<!-- Load URDF ############################################################ -->
    
  <xacro:gears_urdf fixed="false" />

<!-- Load Physics ######################################################### -->
  
  <xacro:wheel_link_physics prefix_y="left" prefix_x="front" />
  <xacro:wheel_link_physics prefix_y="left" prefix_x="rear" />
  <xacro:wheel_link_physics prefix_y="right" prefix_x="front" />
  <xacro:wheel_link_physics prefix_y="right" prefix_x="rear" />
  
  <xacro:linear_elevator_joint_physics />

<!-- Load Gazebo Sensors ################################################## -->

  <xacro:laser_gazebo_sensor />
  
  <xacro:kinect_gazebo_sensor />
  
  <xacro:camera_gazebo_sensor prefix_y="left" />
  <xacro:camera_gazebo_sensor prefix_y="right" />
  
  <xacro:sonar_gazebo_sensor name="linear" publish_msg="false" />
  <xacro:sonar_gazebo_sensor name="left" publish_msg="false" />
  <xacro:sonar_gazebo_sensor name="right" publish_msg="false" />
  
  <xacro:co2_gazebo_sensor publish_msg="false" publish_viz="false" />
                
  <xacro:thermal_gazebo_sensor prefix_y="middle" publish_msg="false" publish_viz="false" />
  <xacro:thermal_gazebo_sensor prefix_y="left" publish_msg="false" publish_viz="false" />
  <xacro:thermal_gazebo_sensor prefix_y="right" publish_msg="false" publish_viz="false" />
                    
  <xacro:microphone_gazebo_sensor publish_msg="false" publish_viz="false" />
      
      
<!-- Load Transmissions ################################################### -->

  <xacro:wheel_transmission prefix_y="left" prefix_x="front" />
  <xacro:wheel_transmission prefix_y="left" prefix_x="rear" />
  <xacro:wheel_transmission prefix_y="right" prefix_x="front" />
  <xacro:wheel_transmission prefix_y="right" prefix_x="rear" />
  
  <xacro:linear_elevator_transmission />
  
  <xacro:linear_head_transmission rotation="yaw" />
  <xacro:linear_head_transmission rotation="pitch" />
  
  <xacro:laser_sensor_transmission rotation="roll" />
  <xacro:laser_sensor_transmission rotation="pitch" />
  
  <xacro:kinect_sensor_transmission rotation="pitch" />
  <xacro:kinect_sensor_transmission rotation="yaw" />

<!-- Load Plugins ######################################################### -->

  <xacro:pandora_differential_plugin publish_joint_states="false" />
          
  <xacro:pandora_p3d_plugin />
      
  <xacro:gazebo_ros_control_plugin namespace="/"
                                   hardware_interface="pandora_gazebo_interface/GazeboInterface" />

<!--  <xacro:pandora_wheel_physics_plugin /> -->
<!-- ###################################################################### -->

</robot>
