<?xml version="1.0"?>

<robot name="gears"
       xmlns:xacro="http://ros.org/wiki/xacro" >

  <!-- Import Files -->
  <xacro:include filename="$(find pandora_robots_description)/gears/urdf/gears.urdf.xacro" />

  <xacro:include filename="$(find pandora_gazebo_description)/gears/urdf_gazebo/sdf_configurations.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/gears/urdf_gazebo/physics.gazebo.xacro" />

  <xacro:include filename="$(find pandora_gazebo_description)/sdf_elements/sensors/*.gazebo.xacro" />
  <xacro:include filename="$(find pandora_gazebo_description)/sdf_elements/plugins/*.gazebo.xacro" />

  <!-- Load URDF -->
  <xacro:gears_urdf /> 

  <!-- Load gazebo sensors -->
  <xacro:if value="${enable_laser}" >
    <xacro:laser_sensor range="${laser_range}" />
  </xacro:if>
  <xacro:if value="${enable_kinect}" >
    <xacro:kinect_sensor />
  </xacro:if>
  <xacro:if value="${enable_webcam}" >
    <xacro:webcam_sensor prefix_y="left" />
    <xacro:webcam_sensor prefix_y="right" />
  </xacro:if>
  <xacro:if value="${enable_sonar}" >
    <xacro:sonar_sensor name="linear" />
    <xacro:sonar_sensor name="left" />
    <xacro:sonar_sensor name="right" />
  </xacro:if>
  <xacro:if value="${enable_co2}" >
    <xacro:co2_sensor />
  </xacro:if>
  <xacro:if value="${enable_temperature}" >
    <xacro:temperature_sensor prefix_y="middle" />
    <xacro:temperature_sensor prefix_y="left" />
    <xacro:temperature_sensor prefix_y="right" />
  </xacro:if>
  <xacro:if value="${enable_microphone}" >
    <xacro:microphone_sensor />
  </xacro:if>

  <!-- Load Plugins -->
  <xacro:gazebo_ros_control interface="pandora_gazebo_interface/GearsGazeboInterface" />
  <xacro:pandora_differential />
  <xacro:pandora_p3d />
  <xacro:if value="$(arg tune)" >
    <xacro:pandora_wheel_physics />
    <!--<xacro:pandora_fdir />-->
  </xacro:if>     

</robot>
