<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ###################################################################### -->

  <xacro:macro name="laser_sensor_transmission"
               params="rotation" >
               
    <transmission name="laser_${rotation}_transmission" >

      <!-- ================================================================ -->
      <type>transmission_interface/SimpleTransmission</type>
      <!-- ================================================================ -->
      <joint name="laser_${rotation}_joint" />
      <!-- ================================================================ -->
      <actuator name="laser_${rotation}_motor" >
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1.0</mechanicalReduction>
      </actuator>
      <!-- ================================================================ -->

    </transmission>
    
  </xacro:macro>

<!-- ###################################################################### -->

</robot>
