<?xml version="1.0" ?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

<!-- ###################################################################### -->

  <xacro:macro name="linear_head_yaw_joint_physics" >

    <gazebo reference="linear_head_yaw_joint" >

      <!-- ================================================================ -->
      <!-- <kp>0.0</kp> -->
      <!-- <kd>0.0</kd> -->
      <!-- ================================================================ -->
      <!-- <stopCfm>0.0</stopCfm> -->
      <!-- <stopErp>0.0</stopErp> -->
      <!-- ================================================================ -->
      <!-- <provideFeedback>false</provideFeedback> -->
      <!-- ================================================================ -->
      <!-- <cfmDamping>true</cfmDamping> -->
      <implicitSpringDamper>true</implicitSpringDamper>
      <!-- ================================================================ -->
      <!-- <fudgeFactor>0.0</fudgeFactor> -->
      <!-- ================================================================ -->

    </gazebo>

  </xacro:macro>

<!-- ###################################################################### -->

</robot>
