<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:macro name="pandora_p3d" >
    <gazebo>
      <plugin name="Pandora3dPosePlugin" filename="libpandora_gazebo_plugins_pandora_p3d_plugin.so" >
        <robotNamespace>/</robotNamespace>
        <bodyName>base_link</bodyName>
        <frameName>map</frameName>
        <topicName>perfect_pose</topicName>
        <broadcastTF>0</broadcastTF>
      </plugin>
    </gazebo>
  </xacro:macro>

</robot>
