<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:macro name="pandora_differential" >
    <gazebo>
      <plugin name="PandoraDifferantialPlugin" filename="libpandora_gazebo_plugins_pandora_differential_plugin.so" >
        <robotNamespace>/</robotNamespace>
        <publishJointStates>false</publishJointStates>
        <baseLink>base_link</baseLink>
        <leftSideJoint>left_side_joint</leftSideJoint>
        <rightSideJoint>right_side_joint</rightSideJoint>
        <leftFrontWheelLink>left_front_wheel_link</leftFrontWheelLink>
        <leftRearWheelLink>left_rear_wheel_link</leftRearWheelLink>
        <rightFrontWheelLink>right_front_wheel_link</rightFrontWheelLink>
        <rightRearWheelLink>right_rear_wheel_link</rightRearWheelLink>
        <maxAngle>${side_joint_max_limit}</maxAngle>
        <sideJointDamping>0.0</sideJointDamping>
        <P>120.0</P>
        <I>0.005</I>
        <D>8.0</D>
        <correctionForceModifier>200.0</correctionForceModifier>
        <maxDownforce>0.0</maxDownforce>
        <maxDifferentialForceZ>0.0</maxDifferentialForceZ>
        <maxDifferentialForceY>0.0</maxDifferentialForceY>
      </plugin>
    </gazebo>
  </xacro:macro>

</robot>
