<?xml version="1.0"?>

<model>
  <name>small_cube_with_laser</name>
  <version>1.0</version>
  <sdf version="1.4">small_cube_with_laser.sdf</sdf>

  <author>
    <name>Afouras Triantafullos</name>
    <email>afourast@gmail.com</email>
  </author>

  <description>
    big_cube
  </description>
</model>
