<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>Pandora Microphone</name>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Chris Zalidis</name>
    <email>zalidis@gmail.com</email>
  </author>

  <description>
    A model of the a microphone sensor, using camera
  </description>
</model>
